.container {
  display: grid;
  row-gap: 2rem;
  place-content: center;

  .title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .btn {
    margin: auto;
    background-color: white;
    border: 1px solid #80808095;
    border-radius: 0.5rem;
    padding-right: 1rem;
    width: 80vw;
    padding: 0 3rem 0 2rem;

    @media (min-width: 398px) {
      width: max-content;
      padding-inline-start: 5rem;
      padding-inline-end: 6rem;
    }
  }

  .btn_last {
    padding: 1rem;
  }

}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #80808095;
}

.form {
  width: fit-content;
  margin: auto;
  padding: 4rem;
  display: grid;
  row-gap: 2rem;
  border: 1px solid black;
  border-radius: 0.35rem;
  margin-block: 5rem;

  .title {
    margin: 0;
    font-weight: 400;
  }

  .textField {
    width: 80vw;

    @media (min-width: 398px) {
      width: 35ch;
    }
  }
}