.container {
  display: grid;
  row-gap: 2rem;
  place-content: center;

  .title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .btn {
    margin: auto;
    background-color: white;
    border: 1px solid #80808095;
    border-radius: 0.5rem;
    padding-right: 1rem;
    width: 80vw;
    padding: 0 3rem 0 2rem;

    @media (min-width: 398px) {
      width: max-content;
      padding-inline-start: 5rem;
      padding-inline-end: 6rem;
    }
  }

  .btn_last {
    padding: 1rem;
  }

}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #80808095;
}

.form {
  display: grid;
  position: absolute;
  inset: 0;
  margin: auto;
  height: fit-content;
  gap: 2rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3rem 2rem;

  .title {
    text-align: center;
  }

  @media (min-width:398px) {
    width: max-content;

    .textField {
      width: 35ch;
    }
  }
}