.container {
  display: grid;
  row-gap: 2rem;
  place-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .btn {
    margin: auto;
    background-color: white;
    border: 1px solid #80808095;
    border-radius: 0.5rem;
    padding-right: 1rem;
    width: 80vw;
    padding: 0 3rem 0 2rem;

    @media (min-width: 398px) {
      width: max-content;
      padding-inline-start: 5rem;
      padding-inline-end: 6rem;
    }
  }

  .btn_last {
    padding: 1rem;
  }

  .textField {
    width: 80vw;

    @media (min-width: 398px) {
      width: 35ch;
    }
  }
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #80808095;
}